@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Server Protection Overview</h1>
<p>This page will show the latest login attempts, blocks and unblocks happening on this server. It's real time data loaded through SignalR.</p>

<div class="ui three column stackable grid">
    <div class="column">
        <h4>Latest attempts</h4>
        <div id="loginAttempts" class="ui segment">
            <div class="ui segment">
                <div class="ui hidden divider"></div>
                <div class="ui active inverted dimmer">
                    <div class="ui active slow blue double text loader">Waiting for events ...</div>
                </div>
                <p></p>
                <div class="ui hidden divider"></div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Latest blocks</h4>
        <div id="blocks" class="ui segment">
            <div class="ui segment">
                <div class="ui hidden divider"></div>
                <div class="ui active inverted dimmer">
                    <div class="ui active slow blue double text loader">Waiting for events ...</div>
                </div>
                <p></p>
                <div class="ui hidden divider"></div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Latest unblocks</h4>
        <div id="unblocks" class="ui segment">
            <div class="ui segment">
                <div class="ui hidden divider"></div>
                <div class="ui active inverted dimmer">
                    <div class="ui active slow blue double text loader">Waiting for events ...</div>
                </div>
                <p></p>
                <div class="ui hidden divider"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/reportingHub.js"></script>