@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site will display statistics collected by this server that show IP numbers, the countries where these IP addresses are registered* and related data.</p>
<p>There is no personal data displayed as that data is not collected by this service.</p>
<em>* Almost all of the IP addresses found on this site are servers that are either compromised or rented with fraudulent details. The addressed are displayed on this page because attempts were made (using various methods) to gain access to this server.</em>