@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ui info message">
    This page will show up to the latest login attempts, blocks and unblocks. It's real time data loaded through SignalR.
    No previous entries are loaded. Leave the page open to see this page populated on login attempts.
</div>

<div class="ui three column stackable grid">
    <div class="column">
        <h4>Latest attempts</h4>
        <div id="loginAttempts" class="ui segment">
            <div class="ui hidden divider"></div>
            <div class="ui active slow blue double loader"></div>
            <div class="ui hidden divider"></div>
        </div>
    </div>
    <div class="column">
        <h4>Latest blocks</h4>
        <div id="blocks" class="ui segment">
            <div class="ui hidden divider"></div>
            <div class="ui active slow blue double loader"></div>
            <div class="ui hidden divider"></div>
        </div>
    </div>
    <div class="column">
        <h4>Latest unblocks</h4>
        <div id="unblocks" class="ui segment">
            <div class="ui hidden divider"></div>
            <div class="ui active slow blue double loader"></div>
            <div class="ui hidden divider"></div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/reportingHub.js"></script>