@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site will display statistics collected by this server that show IP numbers, the countries where these IP addresses are registered* and related data.</p>
<p>There is no personal data displayed as that data is not collected by this service.</p>
<em>* Most of the IP addresses found on this site are dedicated servers that are either rented with fraudulent details, or hacked and have performed to gain access to this server through various protocols.</em>