@page
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>
<p>These statistics are captured on this server. They are cached and refresh every 5 to 30 minutes.</p>

<div class="ui two column stackable grid">
    <div class="column">
        <h4>Top 10 countries</h4>
        <canvas id="countriesChart"></canvas>
    </div>
    <div class="column">
        <h4>Top 10 cities</h4>
        <canvas id="citiesChart"></canvas>
    </div>
</div>

<div class="ui two column stackable grid">
    <div class="column">
        <h4>Top 10 IPs</h4>
        <canvas id="ipChart"></canvas>
    </div>
    <div class="column">
        <h4></h4>
    </div>
</div>

<div class="ui two column stackable grid">
    <div class="column">
        <h4>Attempts per hour of the day</h4>
        <canvas id="attemptsPerHourChart"></canvas>
    </div>
    <div class="column">
        <h4>Attempts per day of the month</h4>
        <canvas id="attemptsPerDayChart"></canvas>
    </div>
</div>

<div class="ui two column stackable grid">
    <div class="column">
        <h4>Blocks per hour of the day</h4>
        <canvas id="blocksPerHourChart"></canvas>
    </div>
    <div class="column">
        <h4>Blocks per day of the month</h4>
        <canvas id="blocksPerDayChart"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="~/js/statistics.js"></script>