@page
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2>Statistics</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h3>Top 10 countries</h3>
            <div>
                <canvas id="countriesChart"></canvas>
            </div>
        </div>
        <div class="col-sm">
            <h3>Top 10 cities</h3>
            <div>
                <canvas id="citiesChart"></canvas>
            </div>
        </div>
        <div class="col-sm">
            <h3>Top 10 IPs</h3>
            <div>
                <canvas id="ipChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="~/js/statistics.js"></script>
